<html>
 <head>
     <title>MyBlog</title>
     
    
    
</head>
<body>
  <section>
      <div><h1><a href="">Zen of Python Post</a></h1></div>
      <p>I just love the zestiness of this language.Wait! is that a word?</p>
    <p>published: <time>14.06.2014, 12:00</time></p>
    
    <div>
        <h2><a href="">C# at it's best</a></h2>
        <p>In the wonderful world of programming we have come across various kinds of programming languages and some dead and some still alive</p>
    <p>published: <time>14.06.2014, 13:00</time></p>
    
    </div>
    
     <div>
        <h2><a href="">PHP at it's best</a></h2>
        <p>In the wonderful world of programming we have come across various kinds of programming languages and some dead and some still alive</p>
    <p>published: <time>14.06.2014, 13:04</time></p>
    
    </div>
  </section>
    
</body>
    


</html>